* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.getName,
.getPhone {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  p.logo {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 3em;
  }
  h2 {
    margin-top: 1em;
  }
  input {
    margin-top: 2em;
    padding: 0.7em;
    width: 90%;
    border: 1px solid #000;
    border-radius: 0.5em;
  }
  button {
    margin-top: 4em;
    padding: 1em;
    width: 90%;
    background-color: lightcoral;
    border: none;
    border-radius: 1em;
    color: #fff;
    cursor: pointer;
  }
  svg.close {
    width: 2.5em;
    margin: 1em;
    align-self: end;
  }
}

.getPhone p.info {
  color: rgb(113, 110, 110);
  margin: 1em 2em;
  line-height: 1em;
  font-size: small;
  text-align: center;
}

// animations
// .getPhone {
//   transform: translateX(100%);
// }
// .open-modal {
//   transform: translateX(0);
// }

// .close-modal {
//   transform: translateX(-100%);
// }
// transition: transform 0.5s ease-in-out;
